<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome!</h1>
    <p>What's your name?</p>
    <form action="greet.html" method="post">
      <label for="name">Name:</label>
      <input type="text" name="name" value="">
    </form>
  </body>
</html>
